.showcase-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.card-wrapper {
  border: 4px solid #d4e8e9;
  border-radius: 20px;
  width: 250px;
  height: 300px;
  background-color: #d4e8e9;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
.card-wrapper .card-body {
  margin: 5px 10px 0px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30% 70%;
  grid-template-rows: 30% 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card-wrapper .card-body .card-title {
  text-align: center;
  color: #554545;
  margin-bottom: 10px;
}
.card-wrapper .card-body .card-photo {
  margin: 0 auto;
}