.page-numbers {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 25px;
    cursor: default;
}

.page-number {
    padding-left: 10px;
    padding-right: 10px;
}

.page-number_current {
    color: rgb(173, 36, 36);
    padding-left: 10px;
    padding-right: 10px;
}