.showcase__button_link {
  width: 159px;
  height: 45px;
  margin-right: 16px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border: none;
  border-radius: 6px;
  color: #6d7885;
  background-color: #F6F7F9;
}

.showcase__button__primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 159px;
  height: 45px;
  color: white;
  background-color: #4587ED;
  border: none;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  line-height: 20px;
  margin: 10px 10px 10px 10px;
}

.showcase_close__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.link {
  background-color: #e4e5e8;
  color: #6d7885;
}