$rowButtonBackground:#F6F7F9;
$rowButtonColorIcon: rgb(133, 133, 133);
$dashboardButtonBackground: #4587ED;
$linkButtonBackground: rgba(228, 229, 232, 1);
$linkTextColor: rgba(109, 120, 133, 1);

.showcase__button_link {
    width: 159px;
    height: 45px;
    margin-right: 16px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    border: none;
    border-radius: 6px;
    color: $linkTextColor;
    background-color: $rowButtonBackground;
}

.showcase__button__primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 45px;
    color: white;
    background-color: $dashboardButtonBackground;
    border: none;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    line-height: 20px;
    margin: 10px 10px 10px 10px
}

.showcase_close__button {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.link {
    background-color: $linkButtonBackground;
    color: $linkTextColor;
}
