$backColorPanel: #FFFFFF;
$backColorHead: #87e1e4;
$backColorShowcase: #fcc8c8;
$darkScreenBackground: rgba(53, 61, 75, 0.2);

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
}

body {
    background-color: $backColorShowcase;
};

.App {
    display: flex;
    justify-content: center;
    min-height: 97vh;

    .app__head {
        position: absolute;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 80px;
        left: 0px;
        top: 0px;
        background-color: $backColorHead;
    };

    .app__showcase {
        margin-top: 76px;
        margin-left: 40px;
        height: 990px;
        max-width: 1920px;
    };
};

.dark-screen {
    position: absolute;
    z-index: 100;
    pointer-events: none;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    background-color: $darkScreenBackground;
};

